/* Import fonts + styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: papayawhip;
}

/* Content  */
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;

  /* Color */
  background-color: PapayaWhip;
}

#circle {
  animation: rotate 20s infinite linear;
  letter-spacing: 2px;
  text-align: center;
}

#circle-bg {
  border-radius: 50%;
  width: 400px;
  height: 400px;
 

  /*  Color  */
  background-color: #f2b05e;
}

/*  Hover */
#circle-bg:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.5) rotate(180deg);
  border-radius: 0%;
  transition-duration: 2s;

  /*  Color  */
  background-color: #80a7bf;
}

/* Animation */

/* Roatation referenced from https://codepen.io/whitebeardeveloper/pen/rNOpqeb*/

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*used tara L color palette from adobe color  */